.header {
    height: 100px;
    background-color: cadetblue;
}

.section-left {
    height: 500px;
    background-color: ghostwhite;
    width: 30%;
    float: left;
}

.section-right {
    height: 500px;
    background-color: orange;
    width: 70%;
    float: left;
}

.footer {
    height: 100px;
    background-color: yellowgreen;
    clear: both;
}